<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">

    <ion-tab-button tab="createPage">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Novo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goals">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Objetivos</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Progresso</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>